<!-- Start Top Products Area -->
<section class="top-products-area pt-100 pb-100">
  <div class="container">
    <div class="orgo-grid-sorting row align-items-center">
      <div class="col-lg-6 col-md-6 result-count">
        <p><span class="count"><%= products.length%></span> tadan ko'rsatilmoqda</p>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <%for(product of products) {%>
      <div class="col-lg-3 col-md-6">
        <div class="top-products-item">
          <div class="products-image">
            <a href="/shop-details/<%=product._id %>"
              ><img
                src="<%= product.photo ?
              `/img/admin/product/${product._id}.jpg` :
              'https://via.placeholder.com/300' %>"
                alt="image"
                style="width: 300px; height: 300px; object-fit: cover;"
            /></a>

            <ul class="products-action">
              <li>
                <a
                  href="/cart/<%= categoryName%>?product_id=<%=product._id %>"
                  data-tooltip="tooltip"
                  data-placement="top"
                  title="Add to Cart"
                  ><i class="flaticon-shopping-cart"></i
                ></a>
              </li>
              <li>
                <a
                  href="/wish-list/<%=product._id %>"
                  data-tooltip="tooltip"
                  data-placement="top"
                  title="Add to Wishlist"
                  ><i class="flaticon-heart"></i
                ></a>
              </li>
              <li>
                <a
                  href="/shop-details/<%=product._id %>"
                  data-tooltip="tooltip"
                  data-placement="top"
                  title="Quick View"
                >
                  <i class="flaticon-search"></i>
                </a>
              </li>
            </ul>

            <% if(product.salePrice) { %>
            <div class="sale">
              <span>Sale</span>
            </div>
            <% } %>
          </div>

          <div class="products-content">
            <h3>
              <span style="font-size: 14px"> <%=product.brand %> </span>
              <a href="shop-details.html"><%=product.model %></a>
            </h3>
            <div class="price">
              <% if(product.salePrice) { %>
              <span class="new-price"><%=product.salePrice %></span>
              <% } %>
              <span class="old-price"><%=product.oldPrice %></span>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="col-lg-12 col-md-12">
        <div class="pagination-area">
          <%if(cPage !==1 ) {%>
          <a
            href="/shop/<%= categoryName%>?pageSize=<%=pageSize %>&currentPage=<%=cPage-1 %>"
            class="prev page-numbers"
          >
            <i class="flaticon-left-arrow"></i>
          </a>
          <%}%> <% for(let i=1; i<=pageCount; i++) { %>
          <a
            href="/shop/<%= categoryName%>?pageSize=<%=pageSize %>&currentPage=<%=i %>"
            class="page-numbers <%= cPage===i ? 'current' : '' %>"
            ><%=i %></a
          >
          <% } %> <%if(cPage !== pageCount ) {%>
          <a
            href="/shop/<%= categoryName%>?pageSize=<%=pageSize %>&currentPage=<%=cPage+1 %>"
            class="prev page-numbers"
          >
            <i class="flaticon-right-arrow"></i>
          </a>
          <%}%>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- End Top Products Area -->
