<%- include("containers/header") %> 
<%- include("containers/navbar") %> 

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>№</td>
                <td>username</td>
                <td>email</td>
                <td>gender</td>
            </tr>
        </thead>
        <tbody>
            <% for(user of users) { %>
                <tr>
                    <td><%=users.indexOf(user) + 1 %></td>
                    <td><%=user.username %></td>
                    <td><%=user.email %></td>
                    <td><%=user.gender %></td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
</div>

<%- include("containers/footer") %> 