<%- include("containers/header") %> <%- include("containers/navbar") %>

<div class="container">
  <table class="table table-stripped">
    <thead>
      <tr>
        <td>№</td>
        <td>Mahsulot id' si</td>
        <td>F.I.O</td>
        <td>Shahar</td>
        <td>Pochta indeksi</td>
        <td>Narx</td>
        <td>Soni</td>
        <td>Vaqti</td>
      </tr>
    </thead>
    <tbody>
        <% for(order of orders) { %>
            <tr>
                <td><%=orders.indexOf(order) + 1%></td>
                <td>
                  <a href="/shop-details/<%=order.product_id %>">
                    <%=order.product_id %></a>
                </td>
                <td><%=order.fullName %></td>
                <td><%=order.city %></td>
                <td><%=order.zipPostal %></td>
                <td><%=order.price %></td>
                <td><%=order.count %></td>
                <td><%=order.time %></td>
            </tr>
        <% } %>
    </tbody>
  </table>
</div>

<%- include("containers/footer") %>
