<%- include("containers/header") %> <%- include("containers/navbar") %>

<section
  class="d-flex w-100 flex-column align-items-center justify-content-center"
>
  <div class="container d-flex flex-column">
    <div class="row justify-content-center">
      <% for(category of categories ) { %>
      <div class="col-lg-4 mb-2 col-md-6 col-12">
        <div class="card">
          <label for="categoryPhoto<%=category.category_name %>">
            <img
              style="object-fit: cover"
              src="<%= category.photo ?
              `/img/admin/category/${category.category_name}.jpg` :
              'https://via.placeholder.com/300' %>"
              class="card-img-top"
            />
          </label>
          <input
            type="file"
            class="sr-only categoryPhoto"
            id="categoryPhoto<%=category.category_name %>"
          />
          <div class="card-body">
            <h3 class="card-title"><%= category.category_name %></h3>
            <a href="/admin/category/<%= category.category_name%>">Delete</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary my-3"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Yangi kategoriya qo'shish
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yangi kategoriya</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/category" method="POST">
              <input
                type="text"
                name="categoryName"
                id="categoryName"
                placeholder="Kategoriya nomi"
                class="form-control my-2"
                required
              />
              <button type="submit" id="submitBtn" class="btn btn-success">
                Qo'shish
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="modal fade"
      id="photoModal"
      tabindex="-1"
      aria-labelledby="photoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="photoModalLabel">
              Telefon kategoriyasiga rasm qo'shish
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="categoryPic">
              <input
                type="file"
                name="categoryPic"
                id="categoryPic"
                class="sr-only"
              />
              <button class="btn btn-info">Qo'shish</button>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/category.js"></script>
<%- include("containers/footer") %>
