<%- include("containers/header") %> <%- include("containers/navbar") %>

<section
  class="d-flex w-100 flex-column align-items-center justify-content-center"
>
  <div class="container d-flex flex-column">
    <% var error %> <%if(error) { %>
    <div class="alert alert-danger"><%= error%></div>
    <% } %>
    <div class="row justify-content-center">
      <% for(product of products ) { %>
      <div class="col-lg-4 mb-2 col-md-6 col-12">
        <div class="card">
          <label for="productPhoto<%=product._id %>">
            <img
              style="object-fit: cover"
              src="<%= product.photo ?
                `/img/admin/product/${product._id}.jpg` :
                'https://via.placeholder.com/300' %>"
              class="card-img-top"
            />
          </label>
          <input
            type="file"
            class="sr-only productPhoto"
            id="productPhoto<%=product._id %>"
          />
          <div class="card-body">
            <h3 class="card-title">
              <span><%= product.brand%></span>&nbsp;<%= product.model %>
            </h3>
            <p>
              Price: $<%= product.salePrice ? product.salePrice :
              product.oldPrice %>
            </p>
            <p><%= product.description%></p>
            <a href="/admin/product/<%= product._id%>">Delete</a>
          </div>
        </div>
      </div>
      <% } %>
      <!-- <% for(product of products ) { %>
      <div class="col-lg-3 col-md-6">
        <div class="top-products-item">
          <div class="products-image">
            <a href="shop-details.html"
              ><img src="https://via.placeholder.com/650" alt="image"
            /></a>

            <ul class="products-action">
              <li>
                <a
                  href="/admin/product/2"
                  data-tooltip="tooltip"
                  data-placement="top"
                  title="Delete"
                  ><i class="bx bx-trash"></i
                ></a>
              </li>
            </ul>
            <% if(product.salePrice) { %>
            <div class="sale">
              <span>Sale</span>
            </div>
            <% } %>
          </div>

          <div class="products-content">
            <h3>
              <span style="font-size: 14px"><%= product.brand%></span>
              <a href="shop-details.html"><%= product.model%></a>
            </h3>
            <div class="price">
              <% if(product.salePrice) { %>
              <span class="new-price">$<%=product.salePrice %></span>
              <% } %>
              <span class="old-price">$<%=product.oldPrice %></span>
            </div>
            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% } %> -->
    </div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary my-3"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Yangi mahsulot qo'shish
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yangi mahsulot</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/product" method="POST">
              <label for="productName">Mahsulot nomi*</label>
              <input
                type="text"
                name="productName"
                id="productName"
                placeholder="Mahsulot nomi"
                class="form-control my-2"
                required
              />
              <label for="productBrand">Mahsulot modeli*</label>
              <input
                type="text"
                name="productBrand"
                id="productBrand"
                placeholder="Mahsulot modeli"
                class="form-control my-2"
                required
              />
              <label for="oldPrice">Narxi*</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input
                  type="text"
                  name="oldPrice"
                  class="form-control"
                  id="oldPrice"
                  aria-label="Amount (to the nearest dollar)"
                />
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              <label for="salePrice">Chegirilgan narxi</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input
                  type="text"
                  name="salePrice"
                  class="form-control"
                  id="salePrice"
                  aria-label="Amount (to the nearest dollar)"
                />
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              <p>Kategoriyasi*</p>
              <select name="category" class="form-control" id="category">
                <% for(category of categories) { %>
                <option value="<%= category.category_name%>">
                  <%= category.category_name%>
                </option>
                <% } %>
              </select>
              <br />
              <br />
              <label for="description">Mahsulot haqida ma'lumot*</label>
              <textarea
                name="description"
                id="description"
                class="w-100 form-control"
                placeholder="Mahsulot haqida ma'lumot"
              ></textarea>
              <br />
              <button type="submit" id="submitBtn" class="btn btn-success">
                Qo'shish
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/product.js"></script>
<%- include("containers/footer") %>
